:root {
    --header-height: 60px;
    --footer-height: 300px;
    --side-panels-width: 10%;
}

#screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.top,
.bottom,
.left,
.right {
    position: absolute;
    background-color: #311047;
}

.top {
    top: 0;
    width: 100%;
    height: var(--header-height);
    padding: 10px;
}

.bottom {
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    display: flex;
    flex-direction: column;

    padding: 30px;
    box-sizing: border-box;
}

.left,
.right {
    top: var(--header-height);
    bottom: var(--footer-height);
    padding: 5px;
    width: var(--side-panels-width);
    min-width: 140px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.note {
    flex-direction: column;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    line-height: 1.6;
    opacity: 0;
    animation: fadeIn 1s forwards 0.7s;
    padding: 15px;
}

.control-text-container {
    margin-top: 40px;
}

.note span {
    margin-bottom: 0.6rem;
}

.control-btns {
    position: relative;
    width: 120px;
    height: 120px;
    transform: rotate(10deg);
    margin: 20px 10px;
    flex-shrink: 0;
}

.control-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #fff;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(100 95 95);
    box-shadow: 3px 3px 0px rgb(160, 156, 157);
    border: 1px solid #8e8e8e;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: bold;
}

.control-btn.y {
    background-color: aqua;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.control-btn.z {
    background-color: aqua;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.control-btn.a {
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.control-btn.b {
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.dialogs-wrapper {
    border: 2px solid #505050;
    width: 100%;
    flex-grow: 1;
    border-radius: 20px;
    box-shadow: inset -1px 1px 6px 3px #222121;
    padding: 5px;
}

@media (max-width: 768px), (max-width: 900px) and (orientation: landscape) {
    :root {
        --footer-height: auto;
    }
    .left,
    .right,
    #footer .control-btns {
        display: none;
    }
    .control-text-container {
        margin: 0;
    }

    #footer {
        padding: 15px;
    }

    #textbox {
        max-height: 250px;
    }

    .note {
        padding: 5px;
        margin: 0;
    }

    .dialogs-wrapper {
        padding: 0;
        box-shadow: none;
        border: none;
    }
}
