:root {
    --header-height: 60px;
    --footer-height: 300px;
    --side-panels-width: 10%;
}

#screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#header {
    color: white;
    text-align: center;
    font-size: 2em;
}

#menu-button {
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 3px 5px;
    width: 30px;
    height: 30px;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 2.5px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    z-index: 100;
}

.menu-bar {
    height: 1.5px;
    background-color: white;
}

.alert-window {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.alert {
    padding: 10px;
    display: none;
    background-color: white;
    border-radius: 10px;
}

.new-game-alert {
    width: 50%;
}

.stats-alert {
    width: 400px;
}

.alert-text {
    margin: 0;
}

.alert-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 5px;
}

#close-btn {
    display: none;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 50%;
}

.setting-btn {
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    background-color: transparent;
    font-family: pixelifysans, monospace;
    font-size: 1.2rem;
    cursor: pointer;
}

.display-flex {
    display: flex;
}

.display-block {
    display: block;
}

.d-desktop-hide {
    display: none;
}

.d-mobile-hide {
    display: none;
}

.btn-container {
    align-self: flex-end;
    margin-top: 1rem;
    display: flex;
    gap: 0.6rem;
    opacity: 0;
    animation: fadeIn 1s forwards 0.6s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#stats-container {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    opacity: 0;
    animation: fadeIn 1s forwards 0.7s;
}

.stat-wrapper {
    display: flex;
    align-items: center;
}

.stat-title {
    margin: 0;
    margin-right: 5px;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    font-size: 1.25rem;
    line-height: 1.6;
}

#energy-bar-total {
    width: 100px;
    height: 0.8rem;
    background-color: red;
}

#energy-bar-remain {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
}

#coins-remain {
    margin: 0;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    font-size: 1.25rem;
    line-height: 1.6;
}

#minimap-container {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
}

#minimap-button-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    color: #fff;
    gap: 10px;
    font-size: 1.25rem;
    font-family: pixelifysans;
}

#minimap-button {
    margin: 0;
    padding: 5px;
    border: 0;
    outline: 0;
    border-radius: 8px;
    font-size: 1.25rem;
    font-family: pixelifysans;
}

#minimap {
    display: none;
}

.top,
.bottom,
.left,
.right {
    position: absolute;
    background-color: #311047;
}

.top {
    top: 0;
    width: 100%;
    height: var(--header-height);
    padding: 10px;
}

.bottom {
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    display: flex;
    flex-direction: column;

    padding: 30px;
    box-sizing: border-box;
}

.left,
.right {
    top: var(--header-height);
    bottom: var(--footer-height);
    padding: 5px;
    width: var(--side-panels-width);
    min-width: 140px;
}

.left {
    left: 0;
}

.right {
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.note {
    flex-direction: column;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    line-height: 1.6;
    opacity: 0;
    animation: fadeIn 1s forwards 0.7s;
    padding: 15px;
}

.control-text-container {
    margin-top: 40px;
}

.note span {
    margin-bottom: 0.6rem;
}

.control-btns {
    position: relative;
    width: 120px;
    height: 120px;
    transform: rotate(10deg);
    margin: 20px 10px;
    flex-shrink: 0;
}

.control-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #fff;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(100 95 95);
    box-shadow: 3px 3px 0px rgb(160, 156, 157);
    border: 1px solid #8e8e8e;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: bold;
}

.control-btn.y {
    background-color: aqua;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.control-btn.z {
    background-color: aqua;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.control-btn.a {
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.control-btn.b {
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.dialogs-wrapper {
    border: 2px solid #505050;
    width: 100%;
    flex-grow: 1;
    border-radius: 20px;
    box-shadow: inset -1px 1px 6px 3px #222121;
    padding: 5px;
}

@media (min-width: 768px) {
    #header {
        font-size: 1.2em;
    }
}

@media (max-width: 768px), (max-width: 900px) and (orientation: landscape) {
    :root {
        --footer-height: auto;
    }

    #menu-button {
        display: flex;
    }

    #close-btn {
        display: block;
    }

    .left,
    .right,
    #footer .control-btns {
        display: none;
    }

    .show-settings {
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        z-index: 1000;
    }

    .control-text-container {
        margin: 0;
    }

    #footer {
        padding: 15px;
    }

    #textbox {
        max-height: 250px;
    }

    .note {
        padding: 5px;
        margin: 0;
    }

    .dialogs-wrapper {
        padding: 0;
        box-shadow: none;
        border: none;
    }
}
